
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');
body{

  font-family: "Azeret Mono";
}
*{

  margin:0;
  padding:0;
}
.header-container{
  position:relative;
    background-image: url("../assets/Hero-bg.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 435px;
}
.banner-container img{
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
.banner-container{
 
  display: flex;
  justify-content: center;
flex-direction: column;
align-items: center;


}

.btn-container{

  color:rgba(255, 255, 255, 1) ;
  background-color: rgba(13, 19, 33, 1);

width: 150px;
height: 46px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;
text-decoration: none;



border: 1px solid black;


margin-bottom: 20px;
margin-top: 10px;
border-radius: 10px;
}
.para{

  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family:" Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}


.Outter-section{
   background-color: rgba(13, 19, 33, 0.02);
   margin-left: 148px;

   margin-right: 148px;
   display: flex;
   justify-content: center;
   flex-direction: row;
   align-items: center;
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 60px;
   border-radius: 10px;


}

.Inner-Section{

  border-radius: 16px;

  background: linear-gradient(90.00deg, rgb(63, 156, 218),rgba(255, 255, 255, 0) 100%);
 margin-top: 20px;
 padding: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 80px;
}

.Inner-Section2{
  margin-top: 20px;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 16px;
 


background: linear-gradient(270.00deg, rgb(63, 156, 218),rgba(255, 255, 255, 0) 100%);
}

.why-webdev{

  text-align: center;
  
}

.why-webdev p{

  text-align: center;
margin-top: 20px;  

opacity: 0.7;
color: rgb(13, 19, 33);
font-family:" Azeret Mono";
font-size: 10px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.img-icon{

  width: 204px;
  height: 180px;
  padding:10px;
}

.Container{
width: auto;
  height: 10x;
  text-align: start;
  color: rgba(13, 19, 33, 0.7);

}
.btn-container2{
 color: rgba(13, 19, 33, 0.7);
 box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

position: static;
width: 171px;
height: 47px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px,20px;


margin-top: 10px;

}
.h{
  font-weight:bold;
}
.My-Inspiration{


  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 500px;
  margin-left: 148px;
  margin-right: 148px;
  margin-top: 250px;
  margin-bottom: 25px;
}
.head-ofytsection{
font-size: 32px;
font-weight:bolder;
margin-bottom: 20px;

}
.para-yt-section{


  color: rgb(13, 19, 33);


}
.yt-border{

  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;



position: static;
width: 1140px;
height: 614px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 32px;



flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 48px 0px;
  
}
.box1{


position: static;
width: 852px;
height: 113px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;

flex: none;
order: 0;
flex-grow: 0;
margin: 18px 0px;
}

.My-target{

  display: flex;
margin-top:200px;
flex-direction: column;
justify-content: center;
align-items: center;


}
.text{

margin-bottom: 28px;
text-align: center;

}
.box-section{
margin-top: 30px;
display: flex;
gap:24px;

width: 1150px;

}
.text2{

  margin-bottom: 10px;
}
.para2{


  color:rgb(123, 131, 131);
}
.html-box{

background-color: rgba(255, 76, 30, 0.05);
padding: 40px;
border-radius: 16px;
width: 364px;
height: 299px;
}

.Css-box{
  border-radius: 16px;
  width: 364px;
  height: 299px;
  background: rgba(0, 76, 232, 0.05);
  padding:40px;
  
  }

  .Js-box{
    width: 364px;
    height: 299px;
    border-radius: 16px;

    background-color: rgba(255, 223, 0, 0.05);
    padding: 40px;
    }
    .text3{

      color:rgb(13, 19, 33);
      opacity: 0.7;

    }
    .underline{
   
      text-decoration: underline;
    }

    .last-box{
   background-image: url("../assets/handshake.jpg");
background-color: rgba(0,0, 0, 0.5);
   background-size: cover;
   background-repeat: no-repeat;
   height: 285px;
  
   background-position: 0%;
   margin-left: 160px;
   margin-right: 160px;

   border-radius: 16px;
   margin-top: 50px;
padding: 20px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

    }
    



    .text-box{


position: static;
width: 548px;
height: 47px;

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 19px 20px 19px 20px;


flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;

    }
    .i{
      display: inline;
      width: 420px;
height: 10px;
border:10px solid white ;
border-radius: 10px;

    }
    .btn-container3{



width: 100px;
height: 65px;
margin-top:15px ;
border: 10px solid white;
border-radius:10px ;
background-color: white;







    }
    .text6{

      color: white;
      font-weight: 700;
      font-size: 32px;
    }
    .text7{

      color: white;
      font-size: 16px;
      font-weight: 400;
    }
   .footer{


    display: flex;
    margin-top: 75px;
    flex-direction: row;
    gap:580px;
    padding: 120px,100px;
    height: 70px;
 
   background-color:rgba(13, 19, 33, 0.03) ;
   
  } 
  .text9{

margin-top: 20px;
font-size: 16px;
font-weight: 600;
     margin-left: 170px;
  }
  .icon1{
margin-top: 20px;
    margin-right: 150px;
    display: inline;
  }